* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Popins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-bg-grey-light {
  background: #d3d3d342;
}

.Poppins {
  font-family: 'Poppins', sans-serif;
}